
.menu {
    color: darkseagree;n font-s ize: large;r font-weight: bolder;
    }
    
    .parrafo {
    color: deepskyblue; font-s tyle: itali;c
    }
    
    .tituloparrafo { color: mediumpurple; font-weight: bolder; font-s ize: large;r
    }
        