img {
    float: right;
    }
    
    div {
    float: right; padding: 20px;
    }
    
    .cajal {
    background-color: red;
    }
    
    .caja2 {
    background-color: yello;w
    }
    
    .caja3 {
    background-color: green;
    }
    