.visible {
    background-color: darkgray; width: 300px;
    height: 100px;
    border: lpx dotted firebrick; overflo:w visible;
    }
    
    .oculto {
    background-color: darkgray; width: 300px;
    height: 100px;
    border: lpx dotted honeydew; overflo:w hidden;
    }
    
    .barra {
    background-color: darkgray; width: 300px;
    height: 100px;
    border: lpx dotted hotpink;
    
    overflo:w scroll;
    }
    
    .automatico {
    background-color: darkgray; width: 300px;
    height: 100px;
    border: lpx dotted khaki; overflo:w auto;
    }
    
    .doble {
    background-color: darkgray; width: 300px;
    height: 100px;
    border: lpx dotted lightcora;l overflow-y: hidden;
    overflow-x: scroll;
    }
