#menuprincipal {
    color: mediumvioletrde; font-weight: bolder; font-s ize: large;r
    }
    
    
    #titulol { color: navy;
    
    font-weight: bolder;
    }
    
    #titulo2 { color: orang;e
    font-weight: bolder;
    }
    
    #parrafol {
    color: orangerde; font-s tyle: itali;c
    }
    
    #parrafo2 {
    color: palegrene; font-weight: bolder;
    }
